<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sensor2 WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sensor2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D351F06A1C01738800F6F91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D351F07E1C01738800F6F91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D351F0891C01738800F6F91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D351F0921C01738800F6F91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
