<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982319363550-e603d90i5bcg2m5uem3fll8bhri52i42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982319363550-e603d90i5bcg2m5uem3fll8bhri52i42</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.accelero.sensor2beta</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:982319363550:ios:64bf4dca72d9ec11</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.accelero.sensor2beta</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.982319363550-e603d90i5bcg2m5uem3fll8bhri52i42</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
